.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-Button {
  width: 300px;
  height: 35px;
}
.submit-Button {
  width: 100px;
  height: 35px;
}
.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 5px 15px rgba(0 10 10 / 10%);
  margin: 20px 0;
}
.Dictionary .hint {
  font-size: 10px;
  opacity: 0.6;
  margin-top: 5px;
}
